*{
    margin: 0;
    padding: 0;
    background-color:white;
}

.container{
    margin: 100px ;
    padding: 10px;
    background-color: black;
    text-align: center;
    align-items: center;
    border-end-end-radius: 2px;



}